body {
    background-color: rgb(145, 218, 169);

}

body > * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    font-weight: 500;
    font-size: 20px;
}


header {
    background-color: #771922;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 20px;
}

header > * {
    margin: 10px 20px;
}

.profile_pic_container {
    background-color: rgb(175, 217, 236);
    max-height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.profile_pic {
    width: 130%;
    display: inline;
    margin: 0 auto;
    position: relative;
    left: -15%;
    top: 10px;
}

.lines {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.9;
    transition: 0.3s;
}

@keyframes line1 {
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

@keyframes line2 {
    50% {transform: translateY(-2px);}
    100% {transform: translateY(0);}
}

.lines:hover  .line1{
    animation: line1 0.7s;
    backface-visibility: hidden;
}

.lines:hover  .line2{
    animation: line2 0.5s;
    backface-visibility: hidden;
}

.line {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
}

.main_container {
    margin: 8vh 0 0 0;
    display: block;
    position: relative;
    overflow: hidden;
}

.breadcrumb_container {
    background-color: white;
    margin: 20px 10px;
    position: relative;
    border-radius: 100px;
    min-width: 50%;
    display: inline-block;
    padding: 10px 10px;
}

.breadcrumb {
    display: flex;
    text-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    display: inline;
    font-weight: bold;
}

.breadcrumb li a {
    text-decoration: none;
    color: #972531;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

.breadcrumb li{
    opacity: 0.7;
}

.breadcrumb li:first-child {
    opacity: 1;
}

.breadcrumb li:last-child {
    opacity: 0.3;
}

.button {
    display: flex;
    align-items: center;
    width: 50px;
    height: 20px;
    background-color: black;
}

.button:hover .triangle {
    display: initial;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid gainsboro;
    display: none;
    float: right;
    margin: 0 5px 10px 0;
}
