div {
  width:400px;
  height: 200px;
  display: flex;
  justify-content: center;
  background: #ddd;
  animation: flash 4s infinite;
  font-family: "Lucida Console";
  font-size: 2em;
}

@keyframes flash {
  50% {color: red;}
  100% {color: black}
}
